In [3]:
import sys
sys.path.append('../src')

API calls:

In [6]:
from src import api_client

In [7]:
print(api_client.get_currencies())

0      btc
1      eth
2      ltc
3      bch
4      bnb
      ...
57     xdr
58     xag
59     xau
60    bits
61    sats
Length: 62, dtype: object

In [8]:
print(api_client.get_coins())

                             id symbol                      name
0                             _    gib                ༼ つ ◕_◕ ༽つ
1                   000-capital    000               000 Capital
2                        01coin    zoc                    01coin
3                        0chain    zcn                       Zus
4                          0dog   0dog              Bitcoin Dogs
...                         ...    ...                       ...
17190                 zyncoin-2    zyn                   ZynCoin
17191                  zynecoin    zyn                  Zynecoin
17192                    zyro-2   zyro                      ZYRO
17193                       zzz    zzz               GoSleep ZZZ
17194  z-z-z-z-z-fehu-z-z-z-z-z      ᚠ  Z•Z•Z•Z•Z•FEHU•Z•Z•Z•Z•Z

[17195 rows x 3 columns]

In [9]:
print(api_client.get_sorted_by_mkt_cap())

            id symbol      name     market_cap  current_price
0      bitcoin    btc   Bitcoin  2179820466366      109699.48
1     ethereum    eth  Ethereum   309365791110        2562.98
2       tether   usdt    Tether   152777315794           1.00
3       ripple    xrp       XRP   137112975620           2.34
4  binancecoin    bnb       BNB    98392191931         674.42
5       solana    sol    Solana    92161831108         177.14
6     usd-coin   usdc      USDC    61671488957           1.00
7     dogecoin   doge  Dogecoin    33774530232           0.23
8      cardano    ada   Cardano    27609770911           0.77
9         tron    trx      TRON    25963589020           0.27

In [10]:
hist_data = api_client.get_historical_data()
hist_data

         timestamp  total_volume    market_cap      price
0    1745669042061  3.254054e+10  1.869575e+12   94189.89
1    1745672980469  2.972480e+10  1.872304e+12   94293.47
2    1745676587356  2.793685e+10  1.869641e+12   94103.96
3    1745680199427  2.227986e+10  1.872568e+12   94305.69
4    1745683486285  2.041877e+10  1.874372e+12   94400.20
..             ...           ...           ...        ...
715  1748246657742  2.983778e+10  2.186248e+12  110070.00
716  1748250215678  3.109255e+10  2.181219e+12  109764.40
717  1748253825795  3.035950e+10  2.181658e+12  109800.80
718  1748257431530  2.959539e+10  2.181905e+12  109783.71
719  1748259620000  2.916985e+10  2.179820e+12  109698.90

[720 rows x 4 columns]

In [11]:
ohlc_data = api_client.get_ohlc_data()
ohlc_data

         timestamp       open       high        low      close
0    1745668800000   94687.46   94687.46   94099.74   94115.13
1    1745683200000   94189.89   94385.36   94033.19   94385.36
2    1745697600000   94400.20   94400.20   94180.04   94272.41
3    1745712000000   94293.17   94815.14   94173.10   94644.07
4    1745726400000   94665.60   95115.21   94238.48   94238.48
..             ...        ...        ...        ...        ...
175  1748188800000  107229.98  107647.07  107020.40  107020.40
176  1748203200000  107042.44  107699.33  106802.16  107699.33
177  1748217600000  107721.88  108990.48  107466.40  108861.81
178  1748232000000  108900.61  109674.08  108900.61  109650.18
179  1748246400000  109640.15  110017.10  109534.89  110017.10

[180 rows x 5 columns]

Data preparation:

In [12]:
from src import data_prep

In [13]:
sessions = data_prep.get_complete_session(ohlc_data, hist_data,'8h')
sessions

,open,high,low,close,total_volume,market_cap
datetime,,,,,,
2025-04-26 08:00:00,94687.46,94687.46,94099.74,94115.13,1.124821e+11,1.872568e+12
2025-04-26 16:00:00,94189.89,94400.20,94033.19,94272.41,1.357502e+11,1.881005e+12
2025-04-27 00:00:00,94293.17,95115.21,94173.10,94238.48,1.291533e+11,1.866261e+12
2025-04-27 08:00:00,94208.72,94292.83,93878.52,94011.55,1.253880e+11,1.866798e+12
2025-04-27 16:00:00,93980.13,94435.74,93780.93,94435.74,1.243612e+11,1.864901e+12
...,...,...,...,...,...,...
2025-05-25 00:00:00,108942.35,109071.36,107470.59,108201.52,2.181987e+11,2.144993e+12
2025-05-25 08:00:00,108184.76,108250.19,106954.41,107192.49,2.024638e+11,2.135646e+12
2025-05-25 16:00:00,107229.98,107699.33,106802.16,107699.33,2.280207e+11,2.162906e+12
2025-05-26 00:00:00,107721.88,109674.08,107466.40,109650.18,2.391954e+11,2.179782e+12
2025-05-26 08:00:00,109640.15,110017.10,109534.89,110017.10,1.500551e+11,2.179820e+12