In [1]:
import sys
sys.path.append('../src')
import api_utils
import seaborn as sns

In [2]:
print(api_utils.get_currencies())

0      btc
1      eth
2      ltc
3      bch
4      bnb
      ...
57     xdr
58     xag
59     xau
60    bits
61    sats
Length: 62, dtype: object

In [3]:
print(api_utils.get_coins())

                             id symbol                      name
0                             _    gib                ༼ つ ◕_◕ ༽つ
1                        01coin    zoc                    01coin
2                        0chain    zcn                       Züs
3                          0dog   0dog              Bitcoin Dogs
4           0-knowledge-network    0kn       0 Knowledge Network
...                         ...    ...                       ...
17044                  zynecoin    zyn                  Zynecoin
17045                    zyro-2   zyro                      ZYRO
17046                     zyrri    zyr                     Zyrri
17047                       zzz    zzz               GoSleep ZZZ
17048  z-z-z-z-z-fehu-z-z-z-z-z      ᚠ  Z•Z•Z•Z•Z•FEHU•Z•Z•Z•Z•Z

[17049 rows x 3 columns]

In [4]:
print(api_utils.get_sorted_by_mkt_cap())

            id symbol      name     market_cap  current_price
0      bitcoin    btc   Bitcoin  1700439843550       85646.14
1     ethereum    eth  Ethereum   198514744335        1644.56
2       tether   usdt    Tether   144325090628           1.00
3       ripple    xrp       XRP   125451430807           2.15
4  binancecoin    bnb       BNB    86002000234         589.50
5       solana    sol    Solana    67890522216         131.50
6     usd-coin   usdc      USDC    60197082973           1.00
7         tron    trx      TRON    23868083726           0.25
8     dogecoin   doge  Dogecoin    23809618877           0.16
9      cardano    ada   Cardano    23224378296           0.64

In [5]:
hist_data = api_utils.get_historical_data()
hist_data

         timestamp  total_volume    market_cap     price
0    1712361600000  3.513281e+10  1.337453e+12  67978.61
1    1712448000000  1.911944e+10  1.358549e+12  69000.65
2    1712534400000  1.793548e+10  1.367272e+12  69401.97
3    1712620800000  3.311195e+10  1.410325e+12  71624.18
4    1712707200000  3.648848e+10  1.361831e+12  69158.64
..             ...           ...           ...       ...
360  1743465600000  3.032615e+10  1.635077e+12  82514.09
361  1743552000000  2.917290e+10  1.690602e+12  85237.59
362  1743638400000  4.633291e+10  1.637359e+12  82526.42
363  1743724800000  3.659446e+10  1.652537e+12  83163.99
364  1743811200000  3.564729e+10  1.664235e+12  83852.01

[365 rows x 4 columns]

In [6]:
ohlc_data = api_utils.get_ohlc_data()
ohlc_data

        timestamp      open      high       low     close
0   1712102400000  69674.30  69674.30  64692.62  65440.42
1   1712448000000  65449.67  69576.85  64673.16  69000.65
2   1712793600000  68896.13  72631.62  67568.51  70527.89
3   1713139200000  70602.35  71220.95  61514.38  65752.66
4   1713484800000  65680.45  66797.95  60062.23  63461.59
..            ...       ...       ...       ...       ...
87  1742169600000  83678.47  85139.55  79947.75  82610.62
88  1742515200000  82570.50  87431.18  81207.51  84270.84
89  1742860800000  84326.23  88713.83  83238.78  87327.73
90  1743206400000  87483.01  88430.06  83609.35  84359.47
91  1743552000000  84332.95  85438.23  81362.04  85237.59

[92 rows x 5 columns]

In [11]:
joined = hist_data.join(ohlc_data,lsuffix='',rsuffix='_ohlc', how='outer')
j = joined.drop(columns = ['timestamp_ohlc'])
j

,timestamp,total_volume,market_cap,price,open,high,low,close
0,1712361600000,3.513281e+10,1.337453e+12,67978.61,69674.30,69674.30,64692.62,65440.42
1,1712448000000,1.911944e+10,1.358549e+12,69000.65,65449.67,69576.85,64673.16,69000.65
2,1712534400000,1.793548e+10,1.367272e+12,69401.97,68896.13,72631.62,67568.51,70527.89
3,1712620800000,3.311195e+10,1.410325e+12,71624.18,70602.35,71220.95,61514.38,65752.66
4,1712707200000,3.648848e+10,1.361831e+12,69158.64,65680.45,66797.95,60062.23,63461.59
...,...,...,...,...,...,...,...,...
360,1743465600000,3.032615e+10,1.635077e+12,82514.09,NaN,NaN,NaN,NaN
361,1743552000000,2.917290e+10,1.690602e+12,85237.59,NaN,NaN,NaN,NaN
362,1743638400000,4.633291e+10,1.637359e+12,82526.42,NaN,NaN,NaN,NaN
363,1743724800000,3.659446e+10,1.652537e+12,83163.99,NaN,NaN,NaN,NaN
364,1743811200000,3.564729e+10,1.664235e+12,83852.01,NaN,NaN,NaN,NaN